<div class ="userhome">
  <a href="<%= session_current_user.username %>/productivity">PRODUCTIVITY</a>
  <br><a href="/<%= session_current_user.username %>/distractions" id="distract">DISTRACTIONS</a>
</div>
