


<div class="distractionnav">
  <a href="/<%= session_current_user.username %>/distractions/picshare">DBC GIFS</a>
  <a href="/<%= session_current_user.username %>/distractions/bingo">BINGO</a>
</div>